@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --gummy: "";
}
@font-face {
  font-family: "Pokemon-Hollow";
  src: url("/fonts/pokemon/Pokemon-Hollow.ttf") format("truetype");
}
@font-face {
  font-family: "Pokemon-Solid";
  src: url("/fonts/pokemon/Pokemon-Solid.ttf") format("truetype");
}
body {
  background: radial-gradient(circle, #cf2525 15%, #3b4cca 70%, #05158f);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  /* color:#8a0e0e; */
  letter-spacing: 3px;
}
.pokemon-text {
  font-family: "Pokemon-Solid";
}

.black-outline {
  -webkit-text-stroke: 1px black;
}
