@tailwind base;
@tailwind components;
@tailwind utilities;

/* FONTS FOR THE WEBSITE */
@font-face {
  font-family: "AS";
  src: url("/fonts/airstrike/airstrike.ttf") format("truetype");
}
@font-face {
  font-family: "AS-Bold";
  src: url("/fonts/airstrike/airstrikebold.ttf") format("truetype");
}
@font-face {
  font-family: "AS-3D";
  src: url("/fonts/airstrike/airstrike3d.ttf") format("truetype");
}
@font-face {
  font-family: "AS-3D-Bold";
  src: url("/fonts/airstrike/airstrikeb3d.ttf") format("truetype");
}
@font-face {
  font-family: "AS-Bullet";
  src: url("/fonts/airstrike/airstrikebullet.ttf") format("truetype");
}
@font-face {
  font-family: "AS-Outline";
  src: url("/fonts/airstrike/airstrikeout.ttf") format("truetype");
}

@font-face {
  font-family: "AS-Platinum";
  src: url("/fonts/airstrike/airstrikeplat.ttf") format("truetype");
}

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
body {
  background: linear-gradient(#1d2c59, #091741);

  color: white;
}

/* Toastify */
.Toastify__close-button {
  color: white !important; /* Change the close button (cross) color to black */
  opacity: 1; /* Ensure it's fully visible */
}
.Toastify__toast--success .Toastify__toast-icon {
  color: black !important; /* Make the success icon red */
}
